.homePage {
  /* The image of background */
  background: url('/public/imgs/backgroundHome.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

.textHome {
  /* text-align: left;  */
  margin-left: 160px;
  margin-top: -190px;
  color: rgb(41, 98, 110);
}
.textHome h3 {
  margin-top: 15px ;
  margin-bottom: 50px;
}
.textHome button{
  background-color: #ffd202;
  border: none;
  border-radius: 5px;
  padding:10px 50px;

}

