
/* $ make the nav space between  call  image Logo  and icons : % to evit @quiry 
- ...
-
-
 */

.nav a {
    text-decoration: none;
}
.bar-logos {
    background-color: rgb(15, 58, 68);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    color: #ffd202;


}

.call-us {
    display: flex;
    padding-top: 20px;
    font-size: 17px;
    color: #ffd202;

}
.call-us .ico {
    font-size: xx-large;

}
.call-us p {
    margin: 0;    
    font-weight: 700;
    padding: 0px  20px;
}
.call-us span {
    display: block;
    color: white;
}
.logoPage {
    height: 90px;
    border-radius: 10px;
    margin: 0px 380px 0px 320px ;   
}
.call-2 .ico-2 {
    padding-top: 30px;
    margin-right: 20px;
}

/* Second */
.bar-pages {
  
    margin: 0px;
    padding: 10px 180px;
    background-color: #ffd202;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.bar-pages li {
    list-style-type: none;
    margin: 0px 60px;
    font-size: large;
    font-weight: 700;
}

.bar-pages li a{
    color: rgb(41, 98, 110);

}