.footer {
    background-color: rgb(15, 58, 68);
    color: #ffd202;

}

.logoImg {
    width: 130px;
    border-radius: 10px;
    margin-top: 30px ;

}
.socialMedia{
    padding: 45px;
    height: 100%;
    display: flex;
    justify-content: space-around;


}


.socialMedia a {
    display:block;
    margin: 0;
    padding: 0;
    color: #ffd202;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;

}
.icons {
    margin-right:  10px;
}
/* @media */
@media (max-Width: 600px) {
    .socialMedia{
        display: block;
    }

}