.shop-page {
    border-top: 2px solid rgb(15, 68, 35);
    background-color: #ffd202;
    margin: 0px;
}
.shop-page .search{
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.one-card{
    list-style-type: none;
    background-color: rgb(15, 58, 68);
    color: #ffd202;
    max-width: 250px;
    width: 100vw;
    margin: 30px;
    border-radius: 6px;

}
.one-card img{
    margin-top: 5px;
    width: 240px;
    /* height: 350px; */
    border-radius: 6px;

    
}
.card-price {
    color: rgb(255, 0, 0);
    font-weight: 600;
    font-size: x-large;
}

.card-text {
    font-size: x-small;
    margin: 5px 0px;
}
.cardButton{
    background-color: #ffd202;
    /* background-color: rgb(255, 0, 0); */
    padding: 8px;
    margin: 10px;
    color: red;
    font-weight: 600;
    font-size: large;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease, background-color 0.4s ease;
}
.cardButton:hover{
    transform: scale(1.2);
    background-color: #b69f38; 

    
}